# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.gmtk_jam2021.iml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\gmtk_jam2021\.idea\.idea.gmtk_jam2021\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
